<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.safeaa.mybatis.extmapper.SyscomrolecultureExtMapper">
	<delete id="deleteAllByRoleId" parameterType="map">
		delete from SYSCOMROLECULTURE
		where ROLEID = #{roleid,jdbcType=INTEGER}
	</delete>
	<select id="queryAllByRoleId" parameterType="map" resultMap="com.syscom.safeaa.mybatis.mapper.SyscomrolecultureMapper.BaseResultMap">
		select
		<include refid="com.syscom.safeaa.mybatis.mapper.SyscomrolecultureMapper.Base_Column_List" />
		from SYSCOMROLECULTURE
		where ROLEID = #{roleid,jdbcType=INTEGER}
	</select>
</mapper>